.header{
    height: 45px;
    background: #3498db;
    line-height: 45px;
    padding: 15px;
}
.header .back-button{
    width: 50px;
    height: 100%;
    float: left;
}
.back-button svg{
    fill: #f1c40f;
}
.back-button a svg{
    fill: black;
}
.back-button:hover a svg{
    fill: #f1c40f;
}
.header .back-button .hidden{
    display: none;
}
.header .heading{
    display: inline-block;
    height: 100%;
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
}