body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 100px;
  right: 100px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 300px;
}
.modal input.input{
  width: 95%;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal input.input:focus{
  outline: none;
  border-bottom: 1px solid #000;
}
.modal button.cancel{
  border: 1px solid red;
  color: red;
  box-shadow: none;
  font-size: 16px;
  float: right;
  margin-left: 10px;
  padding: 5px;
}
.modal button.cancel:hover{
  color: white;
  background: red;
}
.modal button.proceed:hover{
  color: white;
  background: green;
}
button:focus{
  outline: none;
}
.modal button.proceed{
  border: 1px solid green;
  color: green;
  box-shadow: none;
  font-size: 16px;
  float: right;
  padding: 5px;
}
.sk-rotating-plane {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 40px auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
